<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.TRANSACTIONS' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="transactionFilters($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="transactionView != null">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let transaction of filteredTransactions">
          <div *ngIf="transaction.customer != null">
            <ion-avatar item-start> <img src="img/avatar-finn.png" /> </ion-avatar>
            <h2> {{ transaction.customer.fullName }}</h2>
            <h3> {{ transaction.customer.phoneNumber }}</h3>
            <p> {{ transaction.customer.address }}</p>
          </div>
          <ion-item *ngFor="let item of transaction.productItems">
            <h2> {{'PLACEHOLDERS.NAME' | translate }}: {{ item.product.name }}</h2>
            <h3>{{'PLACEHOLDERS.CODE' | translate }}: {{ item.product.code }}</h3>
            <h3> {{'PLACEHOLDERS.UNITS/PRICE' | translate }}: {{ item.product.units }} / {{ item.product.unitMrp }} </h3>
            <h3> {{'PLACEHOLDERS.DISCOUNT' | translate }}: {{ item.product.discount }}</h3>
            <h3>{{'HOMEPAGE.PLACEHOLDERS.QUANTITY'  | translate}} :{{ item.quantity }}</h3>
          </ion-item>
          <h2>{{ transaction.transactionDate | date: 'dd/MM/yyyy'}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="transactionView == null">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let transaction of availableTransactions">
          <div *ngIf="transaction.customer != null">
            <ion-avatar item-start> <img src="img/avatar-finn.png" /> </ion-avatar>
            <h2> {{ transaction.customer.fullName }}</h2>
            <h3> {{ transaction.customer.phoneNumber }}</h3>
            <p> {{ transaction.customer.address }}</p>
          </div>
          <ion-item *ngFor="let item of transaction.productItems">
            <h2> {{'PLACEHOLDERS.NAME' | translate }}: {{ item.product.name }}</h2>
            <h3> {{'PLACEHOLDERS.CODE' | translate }}: {{ item.product.code }}</h3>
            <h3> {{'PLACEHOLDERS.UNITS/PRICE' | translate }}: {{ item.product.units }} / {{ item.product.unitMrp }} </h3>
            <h3> {{'PLACEHOLDERS.DISCOUNT' | translate }}: {{ item.product.discount }}</h3>
            <h3>{{'HOMEPAGE.PLACEHOLDERS.QUANTITY'  | translate}}: {{ item.quantity }}</h3>
          </ion-item>
          <h2>{{ transaction.transactionDate | date: 'dd/MM/yyyy'}}</h2>
          <div>
            <h5 style="text-align: center;">**END**</h5>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>