<!--
  Generated template for the CustomersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.CUSTOMERS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item (click)="editCustomer(customer)" *ngFor="let customer of customerlist">
      <h2> {{ customer.fullName }}</h2>
      <h3>{{'PLACEHOLDERS.PHONE_NUMBER' | translate}} <a href="tel: {{ customer.phoneNumber }}">{{ customer.phoneNumber }}</a> </h3>
      <p>{{ customer.address }}</p>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button (click)="navigateToNew()" ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>