<ion-header>
    <ion-navbar>      
      <ion-title>Log in</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <ion-list inset>
  
        <!-- <ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
  
        <div ngxErrors="email" #emailErrors="ngxErrors">
          <div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']">It should be a valid email</div>
        </div> -->
  
        <ion-item [ngClass]="{ invalid: phone_numberErrors.hasError('*', ['touched', 'dirty']) }">
          <ion-input type="text" placeholder="PhoneNumber" formControlName="phone_number"></ion-input>
        </ion-item>
  
        <div ngxErrors="phone_number" #phone_numberErrors="ngxErrors">
          <div [ngxError]="['phone_number', 'required']" [when]="['touched', 'dirty']">It should be a valid phone_number</div>
        </div>

        <ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
  
        <div ngxErrors="password" #passwordErrors="ngxErrors">
          <div [ngxError]="['minlength', 'required']" [when]="['touched']">It should be at least 5 characters</div>
        </div>
      </ion-list>
  
      <div padding-horizontal>
        <div class="form-error">{{loginError}}</div>
  
        <button ion-button full type="submit" [disabled]="!loginForm.valid">Log in</button>
        <div class="login-footer">
          <p>
            <a href="#">Forgot password?</a>
            If you're a new user, please sign up.
          </p>
        </div>
      </div>
    </form>
    <div padding-horizontal>
      
        <ion-list>
  
            <button ion-button icon-left block clear (click)="loginWithGoogle()">
              <ion-icon name="logo-google"></ion-icon>
              Log in with Google
            </button>
    
            <button ion-button icon-left block clear [navPush]="signUpPage">
              <ion-icon name="person-add"></ion-icon>
              Sign up
            </button>
          </ion-list>

      </div>

  </ion-content>