<!--
  Generated template for the DeveloperActionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.DEVELOPER_ACTIONS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="addProducts()"> {{'BUTTONS.BTN_ADD_PRODUCTS' | translate}}
  </button>
  <button ion-button (click)="deleteAllProducts()"> {{'BUTTONS.BTN_REMOVE_PRODUCTS' | translate}}
  </button>

  <button ion-button (click)="addCustomers()"> {{'BUTTONS.BTN_ADD_CUSTOMERS' | translate}}
  </button>
  <button ion-button (click)="deleteCustomers()"> {{'BUTTONS.BTN_REMOVE_CUSTOMERS' | translate}}
  </button>
  <button ion-button (click)="deleteTransactions()"> {{'BUTTONS.BTN_REMOVE_TRANSACTIONS' | translate}}
  </button>
</ion-content>