
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>
  <ion-content>

    <form (ngSubmit)="Update()" [formGroup]="form">
      <ion-list>

        <ion-item>
          <ion-input type="text" [(ngModel)]="name" placeholder="{{'PLACEHOLDERS.NAME' | translate }}" formControlName='name'></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" [(ngModel)]="phonenumber" placeholder="{{'PLACEHOLDERS.PHONE_NUMBER' | translate }}" formControlName='phonenumber'></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" [(ngModel)]="address" placeholder="{{'PLACEHOLDERS.ADDRESS' | translate }}" formControlName='address'></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" [(ngModel)]="email" placeholder="{{'PLACEHOLDERS.EMAIL' | translate }}" formControlName='email'></ion-input>
        </ion-item>
      </ion-list>
      <div padding-horizontal>
        <button ion-button full type="submit">{{ 'BUTTONS.BTN_UPDATE' | translate}}</button>
      </div>
    </form>
  </ion-content>
