<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Bill</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bill-create">
    <ion-list>
      <ion-item>
        <ion-label>Product name</ion-label>
        <ion-select [(ngModel)]="name">
          <ion-option *ngFor="let product of availableProducts" value="{{product.id}}">{{product.name}}</ion-option>
          <!-- <ion-option value="def">def</ion-option>
          <ion-option value="ghi">ghi</ion-option>
          <ion-option value="jkl">jkl</ion-option>
          <ion-option value="mno">mno</ion-option>
          <ion-option value="pqrs">pqrs</ion-option> -->
        </ion-select>
      </ion-item>
    </ion-list>
  <ion-item>
    <ion-label stacked>Quantity</ion-label>
    <ion-input [(ngModel)]="quantity" type="number" placeholder="Quantity"></ion-input>
  </ion-item>
  <button ion-button block (click)="addItem(name,quantity)">Add Items</button>
  <ion-card>
    <ion-card-header>
        <ion-icon ios="ios-cart" md="md-cart"> Cart Items</ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="showContent">
      <ion-grid >
      <ion-row>
        <ion-col>
          Product Name
        </ion-col>
        <ion-col>
          Quantity
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of newTransaction.productItems">
        <ion-col>
          {{ item.product.name }}
        </ion-col>
        <ion-col>
          {{ item.quantity }}
        </ion-col>
      </ion-row>
    </ion-grid>
      <button ion-button block (click)="generateBill()">
        Generate Bill
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>