<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'HOMEPAGE.NEWBILL' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bill-create">

  <ion-label stacked>{{'HOMEPAGE.PRODUCT_SEARCH' | translate}}</ion-label>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{'HOMEPAGE.PLACEHOLDERS.SEARCH' | translate}}" (ionCancel)="onCancel($event)" >{{'HOMEPAGE.ENTER_PRODUCT_NAME' | translate}}</ion-searchbar>
  <ion-list *ngIf="!productSearch">
    <ion-row>
      <ion-col>
          {{'HOMEPAGE.AVAILABLE_PRODUCTS' | translate}}
      </ion-col>
    </ion-row>
    <ion-grid *ngFor="let product of selectedProduct">
      <ion-row>
        <ion-col>
          <a (click)="addName(product)"> {{product.name}} </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-card *ngIf="productSearch">
    <ion-card-content>

      <ion-label stacked>{{'HOMEPAGE.PLACEHOLDERS.PRODUCT_NAME' | translate}}</ion-label>
      <ion-input name="name" [(ngModel)]="addProduct.name" type="text" placeholder="{{'HOMEPAGE.PLACEHOLDERS.PRODUCT_NAME'   | translate}}" readonly></ion-input>
      <ion-label stacked>{{'HOMEPAGE.PLACEHOLDERS.QUANTITY'  | translate}}</ion-label>
      <ion-input name="quantity" [(ngModel)]="quantity" type="number" placeholder="{{'HOMEPAGE.PLACEHOLDERS.QUANTITY'  | translate}}"></ion-input>

      <button ion-button block (click)="addItem(addProduct,quantity)" [disabled]="!addProduct.name || !quantity">{{'HOMEPAGE.BUTTONS.ADD_ITEMS' | translate}}</button>
        <button ion-button block (click)="Cancel()">{{'HOMEPAGE.BUTTONS.CANCEL_ITEMS' | translate }}</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showContent">
    <ion-card-header>
      <ion-icon ios="ios-cart" md="md-cart"> {{'HOMEPAGE.CART_ITEMS'| translate }}</ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
              {{'HOMEPAGE.PLACEHOLDERS.PRODUCT_NAME'  | translate}}
          </ion-col>
          <ion-col>
              {{'HOMEPAGE.PLACEHOLDERS.QUANTITY'  | translate}}
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of newTransaction.productItems; let i = index">
          <ion-col>
            {{ item.product.name }}
          </ion-col>
          <ion-col>
            <div *ngIf="item.editable">
              <ion-input name="editquantity" [(ngModel)]="editquantity" type="number" placeholder="Quantity"></ion-input>
            </div>
            <div *ngIf="item.editable == false">
              {{ item.quantity }}
            </div>
          </ion-col>
          <ion-col>
            <button ion-button (click)="editItem(item)" *ngIf="item.editable == false">{{'HOMEPAGE.BUTTONS.EDIT' | translate }}</button>
            <button ion-button (click)="saveItem(item, editquantity)" *ngIf="item.editable">{{'HOMEPAGE.BUTTONS.SAVE' | translate}}</button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="removeItem(i)">{{'HOMEPAGE.BUTTONS.REMOVE' | translate }}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button block (click)="generateBill()">
        {{'HOMEPAGE.BUTTONS.GENERATE_BILL' | translate}}
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>