<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.HELP' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form>

    <ion-list>
      <ion-item>
        <ion-label color="primary">{{'LABELS.QUERY_TYPE' | translate}}</ion-label>
        <ion-select placeholder="Select One">
          <ion-option selected value="1">{{'LABELS.QUERY1' | translate}}</ion-option>
          <ion-option value="2">{{'LABELS.QUERY2' | translate}}</ion-option>
          <ion-option value="3">{{'LABELS.QUERY3' | translate}}</ion-option>
          <ion-option value="4">{{'LABELS.QUERY4' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">{{'LABELS.DESCRIPTION' | translate}}</ion-label>
      </ion-item>
      <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      <ion-item>
        <ion-label color="Secondary">{{'LABELS.ATTACHMENT' | translate }}</ion-label>
        <ion-input type='file'></ion-input>
      </ion-item>

    </ion-list>
    <button ion-button full type="submit">{{'BUTTONS.BTN_SUBMIT' | translate }}</button>
  </form>
</ion-content>