<!--
  Generated template for the GenerateBillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.GENERATE_BILL' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-icon ios="ios-cart" md="md-cart"> {{'HOMEPAGE.CART_ITEMS'| translate }} </ion-icon>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class='headingMain'>
        <ion-col>{{'LABELS.PRODUCT_DETAILS' | translate}}</ion-col>
      </ion-row>
      <ion-row class='headingSub'>
        <ion-col>  {{'HOMEPAGE.PLACEHOLDERS.PRODUCT_NAME'  | translate}} </ion-col>
        <ion-col>  {{'HOMEPAGE.PLACEHOLDERS.QUANTITY'  | translate}}  </ion-col>
        <ion-col> {{'LABELS.PRICE_PER_UNIT' | translate}} </ion-col>
        <ion-col> {{'LABELS.FINAL_PRICE' | translate}} </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of transaction.productItems">
        <ion-col> {{ item.product.name }} </ion-col>
        <ion-col> {{ item.quantity }} </ion-col>
        <ion-col> {{ item.product.unitMrp }} </ion-col>
        <ion-col> {{ item.finalPrice }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> {{'LABELS.TOTAL_AMOUNT' | translate}} </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> {{ transaction.totalAmount }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> {{'LABELS.TOTAL_DISCOUNT' | translate}} </ion-col>
        <ion-col> </ion-col>
        <ion-col> </ion-col>
        <ion-col> {{ transaction.totalDiscount }} </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="searchcustomer != null">
      <ion-row class='headingMain'>
        <ion-col>{{'LABELS.CUSTOMER_DETAILS' | translate}}</ion-col>
      </ion-row>
      <ion-row class='headingSub'>
        <ion-col>
            {{'PLACEHOLDERS.NAME' | translate }}
        </ion-col>
        <ion-col></ion-col>

        <ion-col>
            {{'PLACEHOLDERS.PHONE_NUMBER' | translate }}
        </ion-col>
        <ion-col>
            {{'PLACEHOLDERS.ADDRESS' | translate }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{ searchcustomer.fullName }}
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          {{ searchcustomer.phoneNumber }}
        </ion-col>
        <ion-col>
          {{ searchcustomer.address }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="presentModal()">{{'BUTTONS.BTN_CHANGE_CUSTOMER' | translate}}</button>
        </ion-col>
        <ion-col>
          <button (click)="confirmBill()" ion-button>{{'BUTTONS.BTN_CONFIRM_BILL' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="searchcustomer == null && generalbill == true">
      <ion-row>

        <ion-col>
          <button (click)="confirmBill()" ion-button>Confirm Bill</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="selectedCustomerBool">
  <ion-card-header>
    <ion-icon ios="ios-cart" md="md-cart">{{'LABELS.CUSTOMER_SEARCH' | translate }}</ion-icon>
  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
  <button ion-button block (click)="presentModal()">{{'BUTTONS.BTN_SEARCH_CUSTOMER' | translate}}</button>
  <button ion-button block (click)="confirmBill()">{{'BUTTONS.BTN_GENERAL_BILL' | translate}}</button>
</ion-card>