<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-list>
  <ion-list-header>{{'LABELS.SINGLE_SELECTION' | translate }}</ion-list-header>
 
  <ion-item>
    <ion-label color="primary">{{'LABELS.CHOOSE_LANGUAGE' | translate}}</ion-label>
    <ion-select [(ngModel)]="setlanguage" (ionChange)="languageChange()">
      <ion-option *ngFor="let selectedLanguage of language" [value]="selectedLanguage.value">{{selectedLanguage.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="primary">{{'LABELS.CURRENCY' | translate}}</ion-label>
    <ion-select  placeholder="Select One">
      <ion-option selected value="IND">&#x20B9; {{'LABELS.RUPEES' | translate}}</ion-option>
      <ion-option value="USD">&#36; {{'LABELS.DOLLARS' | translate}}</ion-option>
      <ion-option value="pounds">&#163; {{'LABELS.POUNDS' | translate}}</ion-option>
      <ion-option value="yen">&#165; {{'LABELS.YEN' | translate}}</ion-option>
    </ion-select>
  </ion-item>

</ion-list>