<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>

      <ion-title>{{'IN_APP' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title | translate}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-item menuClose ion-item href="#" (click)="logout()"> <ion-icon name="power"></ion-icon> {{ 'MENU.LOGOUT' | translate}}</ion-item>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>