
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.ADD_CUSTOMER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.FIRST_NAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="fname" type="text" placeholder="{{'PLACEHOLDERS.FIRST_NAME' | translate}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.LAST_NAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="lname" type="text" placeholder="{{'PLACEHOLDERS.LAST_NAME' | translate}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.PHONE_NUMBER' | translate }} </ion-label>
    <ion-input [(ngModel)]="phnumber" type="number" placeholder="{{'PLACEHOLDERS.PHONE_NUMBER' | translate }}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.ADDRESS' | translate }} </ion-label>
    <ion-input [(ngModel)]="address" type="text" placeholder="{{'PLACEHOLDERS.ADDRESS' | translate }}"></ion-input>
  </ion-item>

  <button ion-button block (click)="addCustomer(fname,lname,phnumber,address)" [disabled]="!fname || !lname || !phnumber || !address">
   {{'BUTTONS.BTN_ADD_CUSTOMER' | translate}}
  </button>
</ion-content>