<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.AVAILABLE_PRODUCTS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="editProduct(product)" *ngFor="let product of products">
      <h2>{{ product.name }}</h2>
      <h3>
      <!-- <currency-symbol></currency-symbol> -->
      &#8377; {{ product.getTotalWithDiscount(1) }}
        <del>
       <!-- <currency-symbol></currency-symbol>  -->
       &#8377;{{ product.unitMrp }}
        </del>/{{ product.units }}
      </h3>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="navigateToNew()" ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>