<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'LABELS.PRODUCTS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>{{'HOMEPAGE.PLACEHOLDERS.PRODUCT_NAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="name" type="text" placeholder="{{'HOMEPAGE.PLACEHOLDERS.PRODUCT_NAME' | translate}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.MAX_RETILE_PRICE' | translate}}</ion-label>
    <ion-input [(ngModel)]="unitMrp" type="number" placeholder="{{'PLACEHOLDERS.MAX_RETILE_PRICE' | translate}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.UNITS' | translate}}</ion-label>
    <ion-input [(ngModel)]="units" type="text" placeholder="{{'PLACEHOLDERS.UNITS' | translate}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{'PLACEHOLDERS.DISCOUNT' | translate}}</ion-label>
    <ion-input [(ngModel)]="discount" type="number" placeholder="{{'PLACEHOLDERS.DISCOUNT' | translate}}"></ion-input>
  </ion-item>

  <button ion-button block (click)="createProduct(name, unitMrp, units, discount)" [disabled]="!name || !unitMrp || !units || !discount">
    {{'BUTTONS.BTN_CREATE_PRODUCT' | translate}}
  </button>
</ion-content>