<ion-header>
    <ion-navbar>
      <ion-title>Sign up</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
    <form (ngSubmit)="register()" [formGroup]="form">
      <ion-list inset>
  
        <!-- <ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched']) }">
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
  
        <div ngxErrors="email" #emailErrors="ngxErrors">
          <div [ngxError]="['email', 'required']" [when]="['touched']">It should be a valid email</div>
        </div> -->

        <ion-item [ngClass]="{ invalid: phone_numberErrors.hasError('*', ['touched']) }">
          <ion-input type="text" placeholder="PhoneNumber" formControlName="phone_number"></ion-input>
        </ion-item>
  
        <div ngxErrors="phone_number" #phone_numberErrors="ngxErrors">
          <div [ngxError]="['phone_number', 'required']" [when]="['touched']">It should be a valid phoneNumber</div>
        </div>
  
        <ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
  
        <div ngxErrors="password" #passwordErrors="ngxErrors">
          <div [ngxError]="['minlength', 'required']" [when]="['touched']">It should be at least 6 characters</div>
        </div>
      </ion-list>
  
      <div padding-horizontal>
        <div class="form-error">{{signupError}}</div>
  
        <button ion-button full type="submit" [disabled]="!form.valid">Sign up</button>
      </div>
    </form>
  </ion-content>