<!--
  Generated template for the VerifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verification</ion-title> 
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-input type="text" [value]="Code" [(ngModel)]="Code"></ion-input>
    </ion-item>
  </ion-list>
    <button ion-button (click)="verifyUser()">Verify</button>
</ion-content>
