<!--
  Generated template for the SearchcustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'LABELS.SEARCH_CUSTOMER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="searchCustomer($event)" placeholder="{{'HOMEPAGE.PLACEHOLDERS.SEARCH' | translate}}" ></ion-searchbar>
  <ion-card-content *ngIf="selectCustomerBool">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row class='headingMain'>
            <ion-col>{{'LABELS.CUSTOMER_DETAILS' | translate}}</ion-col>
          </ion-row>
          <ion-row class='headingSub'>
            <ion-col>
                {{'PLACEHOLDERS.NAME' | translate }}
            </ion-col>
            <ion-col></ion-col>

            <ion-col>
                {{'PLACEHOLDERS.PHONE_NUMBER' | translate }}
            </ion-col>
            <ion-col>
                {{'PLACEHOLDERS.ADDRESS' | translate }}
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let customer of selectedCustomer">
            <ion-col>
              <a (click)="dismissView(customer)"> {{ customer.fullName }} </a>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              {{ customer.phoneNumber }}
            </ion-col>
            <ion-col>
              {{ customer.address }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <button ion-button block (click)="closeView()">{{'BUTTONS.BTN_CLOSE' | translate}}</button>
  </ion-card-content>
</ion-content>